{% extends 'layout.html' %}
{% block content %}
<div>
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <div class="m-container" style="width: 180px; position: absolute; left: 10; top: 10;">
            <a class="nav-link" id="home" data-toggle="pill" href="/" role="tab">Home</a>
            <a class="nav-link" id="v-pills-washlist-tab" data-toggle="pill" href="/washlist" role="tab">Wash List</a>
            <a class="nav-link active" id="v-pills-addwash-tab" data-toggle="pill" href="/addwash" role="tab">Add Wash</a>
            <a class="nav-link" id="v-pills-fleetlist-tab" data-toggle="pill" href="/fleetlist" role="tab">Fleet List</a>
        </div>
      </div>
      </div></div>
<!------limited List of washes--------->
<div class="container">
        <div id="wash_list" class="container rounded-container border border-primary p-4 mt-4">
            <header class="p-4">
                <h3 style="color:#12226c;"> Recently added</h3>
            </header> 
            <table id="Lim_list_table" class="table">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Date</th>
                        <th>Fleet Number</th>
                        <th>Reg</th>
                        <th>Type</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                   <!-- populated dynamically by AJAX-->
                </tbody>
            </table>
        <!-- nav button to full list -->
        <span style="display: flex; justify-content: left;">
            <button id="butt_add_new" class="btn btn-primary" style="background-color:#12226c" onclick="window.location.href = 'http://127.0.0.1:5000/washlist'">Full list</button>
            </span>
        </div></div>
        <!--Add new wash form -->
        <div class="row">
        <div id='createandUpdateForm' class="container rounded-container border border-warning p-4 mt-4" style="max-width: 300px;">
        <div class="row justify-content-left">
        <form>
        <header>
        <h3 style="color:#ff9a2f">
        Add Third Party
        </h3> 
        </header>
        <div class="form-group">
            <input type="date" class="form-control" placeholder="Date" name="date" id="datePicker" required> <!-- date picker calendar-->
            <input type="text" class="form-control" placeholder="Fleet Number" type="text" name="fleet_number" required>
            <input type="text" class="form-control" placeholder="Reg" type="number" name="reg"><br/>
            Type <select class="custom-select custom-select-sm" name="type">
                <option value="Euroliner">Euroliner</option>
                <option value="Trailer">Trailer</option>
                <option value="Fridge">Fridge</option>
                <option value="Truck">Truck</option>
                <option value="Third Party">Third Party</option>
            </select><br><br>
            <span><button id="butt_add_new" class="btn btn-primary" style="background-color:#12226c" onclick="addWashToDatabase()">Add new wash</button></span>
        </div>
        </form>
    </div>
    </div>
    <!--Add from search-->
    <div id='AddFromFleet' class="container rounded-container border border-success p-4 mt-4" style="max-width: 300px;">
        <div class="row justify-content-right">
        <form>
        <header>
        <h3 style="color:#12226c">
        Add from fleet
        </h3> 
        </header>
        <div class="form-group">
            <input type="date" class="form-control" placeholder="Date" name="date" id="datePicker" required><br> <!-- date picker calendar-->
            Fleet Number or reg <br><select class="custom-select custom-select-sm" name="type">
                <option value="Euroliner">Euroliner</option>
                <option value="Trailer">Trailer</option>
                <option value="Fridge">Fridge</option>
                <option value="Truck">Truck</option>
                <option value="Third Party">Third Party</option>
            </select><br><br>
            <span><button id="butt_add_new" class="btn btn-primary" style="background-color:#12226c" onclick="addWashToDatabase()">Add new wash</button></span>
        </div>
        </form>
    </div>
    </div>
</div>
    </div>
    </div>
    <br><br>
    <!-- JavaScript-------------------------------------------------->
    <script>
        fetchLimitedPopulate(); // populate with the last few rows from SQL database
        function fetchLimitedPopulate(){
            $.ajax({
                url: "/getallLimSQL", // URL of the Flask route, that contains the DAO function to access mysql
                method: "GET", 
                dataType: "json", // expected data format as data in flask is jsonified
                success: function(data) { // data = DAO.getAll()
                    populateTable(data); // java function defined below to populate table
                },
                error: function(xhr, status, error) { // error handling + write error to console
                    console.error("Error fetching data:", error);
                }
            });
        }
        function populateTable(data) { // populate table function called above
            var tableBody = $('#Lim_list_table tbody'); // this is the HTML table element to populate
            tableBody.empty(); // Clear existing rows if there was anything in the table already
            data.forEach(function(row) { // populate from json where the keys are "Date", "FleetNumber", "Reg", "Type", and "id" + adds the extra buttons
                var newRow = '<tr>' +
                    '<td>' + row.id + '</td>' +
                    '<td>' + row.Date + '</td>' +
                    '<td>' + row.FleetNumber + '</td>' +
                    '<td>' + row.Reg + '</td>' +
                    '<td>' + row.Type + '</td>' +
                    '<td><a href="#" onclick="doChange(this)">Change</a></td>' +
                    '<td><a href="#" onclick="doDelete(this)">Delete</a></td>' +
                    '</tr>';
                tableBody.append(newRow);
            })
        }
        function storeFormValues() {
            var form = document.getElementById('createandUpdateForm');
            var wash = {};
            wash.date = form.querySelector('input[name="date"]').value;
            wash.fleetNumber = form.querySelector('input[name="fleet_number"]').value;
            wash.reg = form.querySelector('input[name="reg"]').value;
            wash.type = form.querySelector('select[name="type"]').value;
            console.log(wash)
            return wash;
}
        function addWashToDatabase() {
            var wash = storeFormValues(); // Get the form values
            $.ajax({ // Send the wash data to the server using AJAX
                url: "/addwashSQL", // URL of the Flask route that saves the new wash data
                method: "POST",
                data: JSON.stringify(wash),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(response) {
                    fetchLimitedPopulate()
                },
                error: function(xhr, status, error) {
                    console.error("Error saving wash data:", error);
                }}
            )}

//DELETE------------------------------------------------------------------------------
    function doDelete(linkElement) {
    var tableHeaders = document.querySelectorAll("#Lim_list_table th");
    var rowElement = linkElement.parentNode.parentNode;
    var wash_id = rowElement.cells[0].firstChild.textContent;
        // Display SweetAlert confirmation dialog
    var rowDetails = "";
    for (var i = 0; i < 5; i++) {
        var headerText = tableHeaders[i].textContent;
        var cellContent = rowElement.cells[i].textContent;
        // Construct the deleting row details string for alert
        rowDetails += "<strong>" + headerText + ":</strong> " + cellContent + "<br>";
    }
    Swal.fire({
        title: "Are you sure?",
        html: "<div style='text-align: left;'>You are about to delete the following wash:<br><br>" +
              rowDetails +
              "<br>You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!"
    }).then((result) => {
        if (result.isConfirmed) {
            // If user confirms deletion, send AJAX request to delete the wash
            $.ajax({
                url: "/deleteWash",  
                method: "POST",
                data: JSON.stringify({ "wash_id": wash_id }),  
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(response) {
                    // If deletion is successful, show success message with SweetAlert
                    Swal.fire({
                        title: "Deleted!",
                        text: "Your wash has been deleted.",
                        icon: "success"
                    }).then((result) => {
                        // After displaying success message, reload the table
                        fetchLimitedPopulate();
                    });
                },
                error: function(xhr, status, error) {
                    console.error("Error deleting wash:", error);
                    // If there's an error, display an error message with SweetAlert
                    Swal.fire({
                        title: "Error",
                        text: "Failed to delete wash. Please try again later.",
                        icon: "error"
                    });
                }
            });
        }
    });
}
// update/change-------------------------------------------------------------------------------------
function doChange(linkElement) {
        var tableHeaders = document.querySelectorAll("#Lim_list_table th");
        var rowElement = linkElement.parentNode.parentNode;
        var wash_id = rowElement.cells[0].firstChild.textContent;
        var rowDetails = "";

        for (var i = 1; i < tableHeaders.length-2; i++) { //show only manual entry fields (skip ID and leave out buttons from the row)
            var headerText = tableHeaders[i].textContent;
            var cellContent = rowElement.cells[i].textContent;
                
                if (headerText === "Type") {
                // Create a dropdown for the Type field
                rowDetails += "<div class='form-group'><label for='edit-" + i + "'>" + headerText + ":</label><select class='custom-select custom-select-sm' id='edit-" + i + "'>";
                var typeOptions = ["Euroliner", "Trailer", "Fridge", "Third Party"];
                for (var j = 0; j < typeOptions.length; j++) {
                    var selected = (typeOptions[j] === cellContent) ? "selected" : "";
                    rowDetails += "<option value='" + typeOptions[j] + "' " + selected + ">" + typeOptions[j] + "</option>";
                }
                rowDetails += "</select></div>";
            } else {
                // Create an input field for other fields
                rowDetails += "<div class='form-group'><label for='edit-" + i + "'>" + headerText + ":</label><input type='text' class='form-control' id='edit-" + i + "' value='" + cellContent + "'></div>";
            }
        }

        Swal.fire({//SweetAlert2 popup message handler module
            title: "Edit Wash",
            html: "<div style='text-align: left;'>" + rowDetails + "</div>",
            showCancelButton: true,
            confirmButtonText: "Save Changes",
            preConfirm: () => {
                var updatedData = {};
                for (var i = 1; i < tableHeaders.length-2; i++) { //store only manual entry fields (skip ID and leave out buttons from the row)
                    var headerText = tableHeaders[i].textContent;
                    var inputValue = document.getElementById('edit-' + i).value;
                    if (headerText === "Type") {
                        inputValue = document.getElementById('edit-' + i).value;
                    }
                    updatedData[headerText] = inputValue;
                }
                updatedData['wash_id'] = wash_id;
                console.log(updatedData);
                return updatedData;
            }
        }).then((result) => {
            if (result.isConfirmed) {
                // Send AJAX request to update the wash
                $.ajax({
                    url: "/updateWash",
                    method: "POST",
                    data: JSON.stringify(result.value),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(response) {
                        Swal.fire({
                            title: "Updated!",
                            text: "Your wash has been updated.",
                            icon: "success"
                        }).then((result) => {
                            fetchLimitedPopulate();
                        });
                    },
                    error: function(xhr, status, error) {
                        console.log("SQL query executed:", response.sql_query);
                        console.error("Error updating wash:", error);
                        Swal.fire({
                            title: "Error",
                            text: "Failed to update wash. Please try again later.",
                            icon: "error"
                        });
                    }
                });
            }
        });

    }
    </script>
    {% endblock %}