{% extends 'layout.html' %}
{% block content %}
        <div class="container">
            <div class="container">
                <img src="img/bg_web.png" class="img-fluid" alt="Banner">
            </div>
        <header class="p-4">
            <!--<h1 style="color:#12226c;">Wash List from layout</h1>   -->
        </header>
        <!------List of washes--------->
        <div id="wash_list" class="container">
            <table id="wash_list_table" class="table">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Date</th>
                        <th>Fleet Number</th>
                        <th>Reg</th>
                        <th>Type</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                   <!-- populated dynamically by AJAX-->
                </tbody>
            </table>
        </div>
        <!------Add Wash Button--------->
        <div><button  id="button-showCreate" class="btn btn-primary" style="background-color:#12226c" onclick="goto_addwash()">Enter new </button></div>

    </div>
    <!-- JavaScript-------------------------------------------------->
    <script>
        function goto_addwash() {
            window.location.href = "http://127.0.0.1:5000/addwash";
    }
        fetchPopulate(); // populate with the last few rows from SQL database
        function fetchPopulate(){
            $.ajax({
                url: "/getallSQL", // URL of the Flask route, that contains the DAO function to access mysql
                method: "GET", 
                dataType: "json", // expected data format as data in flask is jsonified
                success: function(data) { // data = DAO.getAll()
                    populateTable(data); // java function defined below to populate table
                },
                error: function(xhr, status, error) { // error handling + write error to console
                    console.error("Error fetching data:", error);
                }
            });
        }
        function populateTable(data) { // populate table function called above
            var tableBody = $('#wash_list_table'); // this is the HTML table element to populate
            tableBody.empty(); // Clear existing rows if there was anything in the table already
            data.forEach(function(row) { // populate from json where the keys are "Date", "FleetNumber", "Reg", "Type", and "id" + adds the extra buttons
                var newRow = '<tr>' +
                    '<td>' + row.id + '</td>' +
                    '<td>' + row.Date + '</td>' +
                    '<td>' + row.FleetNumber + '</td>' +
                    '<td>' + row.Reg + '</td>' +
                    '<td>' + row.Type + '</td>' +
                    '<td><a href="#" onclick="showUpdate(this)">Change</a></td>' +
                    '<td><a href="#" onclick="doDelete(this)">Delete</a></td>' +
                    '</tr>';
                tableBody.append(newRow);
            })
        }

//DELETE------------------------------------------------------------------------------
    function doDelete(linkElement) {
    var tableHeaders = document.querySelectorAll("##wash_list_table");
    var rowElement = linkElement.parentNode.parentNode;
    var wash_id = rowElement.cells[0].firstChild.textContent;
        // Display SweetAlert confirmation dialog
    var rowDetails = "";
    for (var i = 0; i < 5; i++) {
        var headerText = tableHeaders[i].textContent;
        var cellContent = rowElement.cells[i].textContent;
        // Construct the deleting row details string for alert
        rowDetails += "<strong>" + headerText + ":</strong> " + cellContent + "<br>";
    }
    Swal.fire({
        title: "Are you sure?",
        html: "<div style='text-align: left;'>You are about to delete the following wash:<br><br>" +
              rowDetails +
              "<br>You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!"
    }).then((result) => {
        if (result.isConfirmed) {
            // If user confirms deletion, send AJAX request to delete the wash
            $.ajax({
                url: "/deleteWash",  
                method: "POST",
                data: JSON.stringify({ "wash_id": wash_id }),  
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(response) {
                    // If deletion is successful, show success message with SweetAlert
                    Swal.fire({
                        title: "Deleted!",
                        text: "Your wash has been deleted.",
                        icon: "success"
                    }).then((result) => {
                        // After displaying success message, reload the table
                        fetchLimitedPopulate();
                    });
                },
                error: function(xhr, status, error) {
                    console.error("Error deleting wash:", error);
                    // If there's an error, display an error message with SweetAlert
                    Swal.fire({
                        title: "Error",
                        text: "Failed to delete wash. Please try again later.",
                        icon: "error"
                    });
                }
            });
        }
    });
}
            // update/change
            function showUpdate(linkElement) {
            var rowElement = linkElement.parentNode.parentNode;
            console.log(rowElement);
    }
    </script>
    {% endblock %}